/* ___Shared-styles___ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@500;700;800;900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* __header-style__ */

header{
    max-width: 1980px;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px whitesmoke;
}

 
.nav-heading{
    display: flex;
    align-items: center;
}

.nav-heading img{
    height: 20px;
}

.nav-title{
    font-size: 2rem;
    font-weight: 700;

}
.nav-title::first-letter{
    color: #ff42a5;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav li a{
    text-decoration: none;
    color: #3C354F;

}

nav li{
    list-style: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px;
}

.follow-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10)
    
}

.follow-btn img{
    width: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100% ;

}

.container img{
    width: 500px;
}

.banner-content{
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 700px 700px;
    padding: 60px;
    width: 100%;
    text-align: center;
}

.banner-heading{
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    color: #d85feebd;

    
}

.btn-primary{
    border-radius: 38px;
    border: 0;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.Home-btn{
    border-radius: 38px;
    background: #4EC5F7;
    color: aliceblue;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    border: 0;
}

/* ___Main-section-style___ */

.main-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 50px;
}

.content{
    text-align: right;
}

.title{
    font-size: 38px;
    font-weight: 700;
    color: #6a5b95;
}
.content-description{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.btn-content{
    padding: 15px;
}

.headline{
    color: #0B0223;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 5px;

}

.video-card p{
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.video-card img{
    width: 200px;

}

.video-card img:hover{
    opacity: 0.5;
}

.play-btn{
    position: relative;
    bottom: 150px;
    right: 100px;
    
}

.play-btn2{
    position: relative;
    right: 320px;
    bottom: 190px;
}

.play-btn3{
    position: relative;
    left: 320px;
    bottom: 270px;
}

.play-btn4{
    position: relative;
    left:100px;
    bottom: 330px;
}
.mouse-over span{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse-over:hover span{
    visibility: visible;

}

/* __Instant-play-game-section-style__ */

.flexible-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    text-align: center;

}


.flexible-container img{
    width: 500px;
}

.highlight{
    color: #ff42a5;
}

.badge img{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 499px;
    top: 135rem;
}


.badge2 img{
    width: 200px;
    height: 200px;
    position: relative;
    right: 100px;
    top: 180px;
}

.game-container{
  margin: 100px;
  display: flex;

}

.game-cards{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 15px;
}

.game-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game-detail:hover{
    border: 1px solid #ff42a5;
    border-radius: 30px;
    color: #ff42a5;
}

.game-detail p{
    color: #0B0223;
    font-size: 12px;
    font-weight: 600;
}

.game-detail:hover p{
    color: #FF42A5;
}


footer{
    margin-top: 100px;
    background-color: #0B0223;
    height: 300px;
    text-align: center;
}
.footer-container{
    text-align: center;
}
.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-content img{
    width: 50px;
}
.footer-title{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.footer-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.footer-links ul li>a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;

}
.footer-links2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;

}

.footer-links2 ul li>a{
    text-decoration: none;
    color: #534C64;
    font-size: 10px;
}

footer p{
    color: #534C64;
    font-size: 10px;
}


/* __responsive-style__ */

@media screen and (max-width:576px) {
    nav , ul , .container , .second-container , .flexible-container{
        flex-direction: column;
        align-items: center ;
        width: 100%;
    }
    .flexible-container{
        padding: 10px;
    }
    .responsive-container{
       flex-direction: column-reverse;
    }

    .flexible-container img{
        width: 350px;
    }

    .badge img{
            position: absolute;
            right: 180px;
            top: 250rem;
            height: 200px;
            width: 250px;
      }

    .badge2 img{
        width: 200px;
        height: 170px;
    }

    .badge2{
        position: relative;
        right: 10px;
        top: 180px;
    }
    .video-card{
        grid-template-columns: repeat(1 ,1fr);
    }

    .game-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .game-container{
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
}

